.motivation__container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    gap: 2rem;
    width: 85%;
    margin-bottom: 2rem;
}
.motivation__content {
    width: 100%;
    position:relative;
}
.motivation__header__text h3 {
    text-align: left;
    font-size: 54px;
    line-height: 75px;
}

.motivation__text {
    margin-bottom: 0;
}

.motivation__text__block {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0.6rem 0;
}

.motivation__desc__block p {
    text-align: left;
    font-style: normal;
    font-size: 28px;
}

.motivation__button_two {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 40%;
}

.motivation__button_two a {
    width: 50%;
    height: 65px;
    font-size: 22px;
}

.motivation__photo {
    overflow: hidden;
}

.inner-img {
    width: 100%;
    transition: 0.3s;
}

.inner-img:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 1600px){
    .motivation__header__text h2 {
        margin-bottom: 1rem;
        font-size: 48px;
        line-height: 60px;
    }
    .motivation__desc__block p {
        font-size: 26px;
    }

    .motivation__text__block {
        gap: 20px;
    }
}

@media screen and (max-width: 1370px){
    .motivation__container {
        margin-top: -5rem;
    }
    .motivation__container {
        grid-template-columns: 50% 50%;
    }
    .motivation__header__text h3 {
        font-size: 45px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .motivation__desc__block p {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 4rem;
    }

    .motivation__text__block {
        gap: 10px;
    }


    .motivation__button_two a {
        width: 70%;
        height: 55px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px){
    .motivation__button_two {
        bottom: 35%;
    }
}

@media screen and (max-width: 1200px){
    .motivation__button_two {
        bottom: 25%;
    }
}

@media screen and (max-width: 1024px){
    .motivation__container {
        width: 100%;
        height: auto;
        grid-template-areas:
            "photo"
            "text";
        grid-template-rows: 75% 25%;
        grid-template-columns: 1fr;

        gap: 1rem;

        justify-content: center;
        align-items: center;
        justify-items: center;
        margin-top: -10rem;
    }


    .motivation__photo {
        grid-area: photo;
        height: 80%;
        width: 100%;
    }

    .motivation__content {
        grid-area: text;
        width: 85%;
    }

    .motivation__header__text h3 {
        margin-top: -5rem;
        font-size: 40px;
        line-height: 46px;
    }

    .motivation__button_two {
        text-align: center;
        display: flex;
        align-items: center;
        width: 100%;
        height: 30%;
    }

    .motivation__button_two a {
        font-size: 20px;
        margin-bottom: -25%;
        width: 100%;
        height: 70px;
    }
}
@media screen and (max-width: 800px){
    .motivation__header__text h3 {
        margin-top: -2rem;
    }
}

@media screen and (max-width: 600px){
    .motivation__container {
        margin-top: -13rem;
    }

    .motivation__header__text h3 {
        margin-top: 1rem;
        margin-bottom: 0;
    }
    .motivation__desc__block p {
        font-size: 20px;
        line-height: 34px;
    }
    .motivation__button_two a {
        font-size: 20px;
        width: 100%;
    }
    .motivation__button_two a {
        margin-bottom: -35%;
    }
}
